Dimol.Carteras/Dimol.Carteras/Service References/CausaPorRut/ConsultaRut1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.0.1.15:8082/ConsultaRut.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Dimol.Service.dto" />
  <xs:element name="CausasPorRut">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rut" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CausasPorRutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Dimol.Service.dto" minOccurs="0" name="CausasPorRutResult" nillable="true" type="q1:ArrayOfConsultaPJ" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>