Dimol.Carteras/Dimol.Carteras/Service References/CausaPorRut/ConsultaRut2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Dimol.Service.dto" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Dimol.Service.dto" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfConsultaPJ">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ConsultaPJ" nillable="true" type="tns:ConsultaPJ" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfConsultaPJ" nillable="true" type="tns:ArrayOfConsultaPJ" />
  <xs:complexType name="ConsultaPJ">
    <xs:sequence>
      <xs:element minOccurs="0" name="Anio" type="xs:int" />
      <xs:element minOccurs="0" name="Demandado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Demandante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaIngreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Numero" type="xs:int" />
      <xs:element minOccurs="0" name="RutaDemanda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tribunal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Url" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultaPJ" nillable="true" type="tns:ConsultaPJ" />
</xs:schema>